@import "utilities/variables";

.navbar{
  background-color: #ffff;
}
.Spherium{
  width: 250px;
//  height: 47.9px;
}
.dropdown-menu {
  background-color: #ffff !important;
  margin-top: 23px;
}
.dropdown-item {
  background-color: #ffff !important;
}
.nav-item {
  margin: 0 37px;
  .active {
    font-weight: 600;
    color: #2e37f2 !important ;
    text-decoration: none;
  }
  a{
  color: rgba(15, 15, 15, 0.71) !important;
  font-size: 16px;
}
}


.messageIcon {
  @include sections-spacing(10px);
  width: 46px;
  height: 46px;
  object-fit: contain;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .messageIcon {
    @include sections-spacing(0px);
    width: 46px;
    height: 46px;
    object-fit: contain;
  }
  .Spherium{
  width: 200px;
//  height: 47.9px;
}
}
