@import "utilities/variables";

.navbar {
 // position: fixed;
  .logo {
    width: 181.1px;
    height: 47.9px;
    margin: 0 78.9px 0.1px 0;
    object-fit: contain;
  }
  .dropdown-item{
    margin-left: 1px;
  }

  .dropdown-toggle {
    color: white;
    padding: .5em 1em;
  }

  .dropdown-toggle::after {
    display: inline-block;
    width: .5em;
    height: .5em;
    margin: -.3em 0 0 .4em;
    vertical-align: middle;
    content: "";
    border: .5em solid;
    border-width: 0 .15em .15em 0;
    transform: rotateZ(45deg);
    color: $primary-color;

    &.active {
      font-weight: $font-weight800;
    }
  }

  .navbar-nav {
    .nav-item {
      margin: 0 37px;

      a {
        color: rgba(15, 15, 15, 0.71);
        padding-left: 0px;
      }
      
      .active {
         font-weight: 600;
         color: #2e37f2;
      }
      .btn{
        width: 202px;
        height: 48px;
        background-color: #2e37f2;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .messageIcon {
    width: 46px;
    height: 46px;
    object-fit: contain;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {

     .message_icon_mobile {
  //    margin-left: 40px;
    }
  }
}