@use 'base';
@use 'nav';

@use 'section1';
@use 'section2';
@import "./hyperswap_section3";
@import "./team";
@import "./spherecomp";
@import "./spherecompwallet";
@import "./document";
@import "./termandpolicy";

@import "utilities/variables";

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  .container {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .sections-start {
    margin-top: -35px;
  }
}

//Product section starts
.product-section {
  .product-sub-section {
    @include sections-spacing(20px);
    @include app-border();
    padding: 17px 28px 28px 24px;
    cursor: pointer;
    &:hover {
      background-image: linear-gradient(to right, #28d2cf, #1071e3);
    }
    .title {
      @include fontsize(18px);
      margin-top: 8px;
      font-weight: 900;
    }
    .details {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.8);
    }

    .right-arrow {
      float: right;
    }
    span {
      margin-top: 8px;
      display: block;
    }

    p img:last-child {
      display: none;
    }

    &:hover {
      border: solid 1px $border-hover-color;

      p {
        img:last-child {
          display: block;
        }
      }

      p {
        img:first-child {
          display: none;
        }
      }
    }

    p {
      float: right;
      margin: 22px 0 0 0;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    @include sections-spacing(30px);
    padding: 0 30px 0 30px;
    margin-bottom: 12px;

    .product-sub-section {
      @include sections-spacing(20px);

      .title {
        @include fontsize(14px);
        margin-top: 8px;
        font-weight: 900;
      }
      .details {
        font-size: 13px;
        line-height: 1.33;
      }
    }
  }
  @media (min-width: 768px) {
    @include sections-spacing(40px);

    .product-sub-section {
      min-width: 100%;
      //  min-height: 264px;
    }
  }
}

//Product Road Map Starts
.product-icon {
  @include width-height(52, 51);
}

.product-road-section {
  @include sections-spacing(40px);

  .image-section {
    @include sections-spacing(20px);
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    padding: 0 30px 0 30px;
    .road-map {
      @include sections-spacing(20px);
      padding: 0 15px 0 15px;
      width: 100%;
      object-fit: contain;
    }
  }
  @media (min-width: 768px) {
    .web-image {
      display: block;
    }
    .mobile-image {
      display: none;
    }
    .road-map {
      @include sections-spacing(20px);
      height: 460px;
      width: 100%;
      object-fit: contain;
    }
  }
}

//Vision section starts
.vision-section {
  @include sections-spacing(40px);
  color: $white-color;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;

  .ceo {
    @include sections-spacing(20px);
    width: 149px;
    height: 146px;
  }

  .quote {
    @include sections-spacing(28px);

    img {
      width: 24px;
      height: 21.5px;
    }
  }

  .description {
    @include sections-spacing(10px);
    span {
      display: block;
      line-height: 1.63;
    }
  }

  .signature {
    @include sections-spacing(20px);
    padding-left: 0px;

    .meet-our-team {
      padding-top: 29px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      a {
        color: #87f2e7;
        text-decoration: underline;
      }
    }
  }

  .title {
    color: $white-color;
  }

  .left-container {
    padding: 40px 20px 0 45px;
    background-color: #22265d;
  }

  .right-container {
    padding: 40px 40px 10px 45px;
    background-color: #0b0e36;
  }

  p {
    @include sections-spacing(10px);
    @include fontsize(15px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    font-size: 13px;

    .ceo {
      @include sections-spacing(16px);
      border-radius: 12px;
      width: 121px;
      height: 180px;
    }

    .quote {
      @include sections-spacing(12px);
      margin-left: 8px;

      img {
        width: 17.1px;
        height: 14.7px;
      }
    }

    .description {
      @include sections-spacing(10px);
      margin-left: 8px;
      span {
        display: block;
        line-height: 1.38;
      }
    }

    .signature {
      @include sections-spacing(8.8px);
      padding-left: 0px;
      margin-left: -5px;

      .meet-our-team {
        padding-top: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        text-align: left;
        letter-spacing: normal;
        a {
          color: #87f2e7;
          text-decoration: underline;
        }
      }
    }

    .title {
      color: $white-color;
      font-size: 18px;
      @include sections-spacing(20px);
    }

    .left-container {
      padding: 0px 15px 10px 30px;
      background-color: #22265d;
    }

    p {
      @include fontsize(13px);
      @include sections-spacing(16px);
      margin-right: 5px;
      line-height: 1.54;
      color: #ffffff;
    }
  }
  @media (min-width: 768px) {
    border-radius: 12px;
    .ceo {
      border-radius: 12px;
    }

    .left-container {
      border-radius: 12px 0 0 12px;
    }

    .right-container {
      border-radius: 0 12px 12px 0;
    }
  }
}

// tekenomics section start

.tokenomics-governance-section {
  @include sections-spacing(40px);
  @include fontsize(16px);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);

  .left-container {
    @include sections-spacing(20px);
    padding-bottom: 12px;
    .tokenomics-image {
      border-radius: 12px;
      background-color: $grey-color;
    }
  }

  .description {
    @include sections-spacing(30px);
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: rgba(57, 57, 57, 0.8);
    min-height: 150px;
  }

  .right-container {
    @include sections-spacing(20px);
    border-radius: 12px;
    padding-bottom: 12px;
  }

  .button-section {
    @include sections-spacing(20px);
    a {
      background-color: $button-color;
      padding: 10px;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    padding: 0 0 0 30px;

    .description {
      @include sections-spacing(20px);
      font-size: 13px;
    }

    .tokenomics-image {
      img {
        //  height: 200px;
        width: 100%;
      }
    }
    .governance-image {
      img {
        //  height: 200.8px;
        width: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    .tokenomics-image {
      img {
        height: 262px;
        width: 100%;
      }
    }
    .governance-image {
      img {
        height: 261.8px;
        width: 100%;
      }
    }
  }
}

.partners {
  @include sections-spacing(30px);

  div.partners-section {
    @include sections-spacing(30px);

    div.partners-inner-section {
      border-radius: 12px;
      border: solid 1px $border-color;
      margin-bottom: 20px;

      img {
        width: 82.1px;
        height: 78.2px;
        padding: 0 0 0.4px 0.1px;
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    padding: 0 10px 0 10px;
    .partners-inner-section {
      padding: 22.9px 45.7px 25.9px 27.2px;
    }
  }
  @media (min-width: 768px) {
    .partners-inner-section {
      //   padding: 39.9px 38.7px 41.9px 39.2px;
    }
  }
}

.news {
  @include sections-spacing(30px);

  div.news-section {
    @include sections-spacing(20px);
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: $title-font-color;

    div.news-inner-section {
      img {
        width: 100%;
      }
      .news-description {
        & > p:first-child {
          font-weight: 600;
        }
        p:nth-child(2) {
          color: rgba(0, 0, 0, 0.8);
        }
        padding: 20px;

        a {
          color: $button-color;
          font-weight: 600;
          text-decoration: underline;
        }
      }
      border-radius: 12px;
      border: solid 1px $border-color;
      margin-bottom: 20px;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    padding: 0 10px 0 25px;
    .title {
      padding-left: 15px;
    }
  }
  @media (min-width: 768px) {
  }
}

.contactus {
  @include sections-spacing(30px);
  background-color: $light-blue;
  background-image: linear-gradient(to right, #28d2cf, #1071e3);

  input {
    border-radius: 8px;
    background-color: #ffffff;
  }
  .form-inputs p {
    font-size: 0.8rem;
    // margin-top: 0.5rem;
    color: #f00e0e;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    padding: 20px;

    input {
      height: 46px;
      margin: 30px 50px 18px 0;
    }
  }
  @media (min-width: 768px) {
    padding: 45px 56px 42px 40px;
    border-radius: 12px;
    input {
      height: 57px;
      margin: 30px 50px 24px 0;
    }
  }
}

//footer start

.footer {
  background-color: $blue-color;
  margin: 25px 0 0;
  padding: 69px 70px 64px 70px;
  color: $white-color;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;

  .logo {
    margin-bottom: 25.1px;
    width: 156px;
    height: 41.3px;
    object-fit: contain;
  }

  .footer-title {
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;
    text-decoration: none;
  }

  .footer-sub-title {
    @include sections-spacing(14px);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.13;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;
    opacity: 0.8;
  }

  .social-icons {
    padding-left: 0;
    li {
      list-style: none;
      float: left;

      img {
        @include sections-spacing(21.5px);
        margin-right: 5px;
        width: 39.7px;
        height: 39.7px;
        object-fit: contain;
      }
    }
  }

  .footerend {
    @include sections-spacing(63.6px);
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;
    opacity: 0.8;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767px) {
    //   margin: 41px 0 0;
    padding: 25px 0px 38.8px 10px;
    //  background-color: #22265d;

    .line {
      // width: 353.5px;
      // margin-left: 30px;
      opacity: 0.8;
      //  border: solid 0.5px #ffffff;
    }

    .logo {
      margin-bottom: 16.3px;
    }

    .footer-title {
      @include sections-spacing(20px);
      //  height: 19px;
      font-size: 14px;
      line-height: 1.29;
    }

    .footer-sub-title {
      @include sections-spacing(12px);
      font-size: 13px;
      font-weight: 500;
      line-height: 1.25;
      text-align: left;
      color: $white-color;
    }

    .social-icons {
      padding-left: 0;

      li {
        list-style: none;
        float: left;

        img {
          @include sections-spacing(21.5px);
          margin-right: 17.3px;
          width: 34px;
          height: 34px;
          object-fit: contain;
          margin-bottom: 23.5px;
        }
      }
    }

    .footerend {
      @include sections-spacing(40px);
      margin-bottom: 38.8px;
      font-size: 11px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: left;
      color: $white-color;
    }
  }
}
